<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arsoft.caldatelib">

    <application>
        <activity
                android:name=".CalTabView"
                android:label="@string/title_activity_cal_tab_view"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>